<%-include('../cabecalho.ejs')%>
    <h1>Aluno</h1>
    <a href="/aluno/add">Adicionar aluno</a>
    <table>
        <tr>
            <td>Nome</td>
            <td>Matrícula</td>
            <td>Ações</td>
        </tr>
        <!--aqui vamos fazer o for-->
        <%for (const{nome, id, matricula} of Alunos) {%>
        <tr>
            <td><%=nome%></td>
            <td><%=matricula%></td>
            <td><a href="/aluno/edt/<%=id%>">Editar aluno</a></td>
            <td></td>
        </tr>
        <%}%>
    </table>
    
<%-include('../rodape.ejs')%>